
.inner_content{
    padding-top: 90px;
}
#service > h1 {
	padding: 15px;
	text-align: center;
}
.banner {
	height: 599px;
}
.banner img {
	width: 100%;
	height: 100%;
}
.inner_content {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,75%);
	text-align: center;
}